# Assignment_1 Solutions

#### 1. values: 'hello' , -87.8 , 6 and expressions: * , - , / , +

#### 2. Variables are containers for storing data of different types. String is one of the data types you would store in a variable and is a collection of one or more characters usually put in single or double quotes. Example: y = "ramesh", here y is a variable and is assigned a string data type.

#### 3. Three different data types are:   
 - Text  
 - Numeric  
 - Sequence  
  
Text type comprises strings. They are sequence of unicode characters and can be enclosed in single or double quotes.  
  
Numeric type comprises integers, float, complex numbers. Integers contain positive or negative whole numbers, represented by int class. Float are real numbers with floating point representation. Integer and floating points are seperated by decimal points. 5 is an int and 5.0 is a float. Complex numbers are represented by complex class and written as (real part) + (imaginary part)j. Eg: 5 + 4j  
  
Sequence type comprises list, tuples. List is an ordered collection of data. Items in a list can be of different data types. We can use slicing operator [] to access an item or range of items in the list. They are mutable i.e. they can be modified later. Eg: list = [5,'python',6.7]. While tuples are also ordered collection of items just as a list. The only difference is that they are immutable i.e. they cannot be modified once created. We can use slicing operator to extract data but cannot change it. Eg: tuple = (4.0, 'jack', 6+2j).

#### 4. A combination of operators and operands is called an expression. For example, x - 5 is an expression where x and 5 are operands and '+' is the operator. Expressions need to be evaluated on the basis of precedence of its operators and produce a value.

#### 5. An expression is a sequence or combination of values, variables, operators and function calls that always produces or returns a result value. A statement executes something (a coomand by a python interpreter) but may or may not return a result value.  
  
x + 3 is an expression and print x is a statement

In [6]:
bacon = 22
bacon + 1

23

#### 6. 23 is result of execution while bacon variable still contains 22.

In [7]:
'spam'+'spamspam'

'spamspamspam'

In [8]:
'spam'*3

'spamspamspam'

#### 7. Both the terms give same value i.e. 'spamspamspam'.

#### 8. We cannot start a variable name by an integer. We can begin by string name and then integer like eggs100 or e100.

#### 9. integer: int(), floating-point number: float(), string: str()

#### 10. Since 99 is an integer and cannot be concatenated with a string, hence it causes error. We can fix it by changing its data type to string by typecasting.

In [9]:
'I have eaten '+str(99)+' burritos'

'I have eaten 99 burritos'