## Assignment 4

#### 1. `[]` represents an empty list or a list without any items.

#### 2.

In [10]:
spam = [2, 4, 6, 8, 10]
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

#### 3.

In [12]:
spam = ['a', 'b', 'c', 'd']
spam[int(int('3'*2)/11)]        # spam[3]

'd'

In [8]:
int(int('3'*2)/11)   # '3'*2 = 33; int(33)/11 = 3

3

#### 4. spam[-1] value is 'd'.

#### 5. spam[:2] is ['a', 'b'] as it returns all elements from index 0 to 2 excluding 2.

In [13]:
spam[:2]

['a', 'b']

In [16]:
bacon = [3.14, 'cat', 11, 'cat', True]

#### 6.

In [17]:
bacon.index('cat')

1

#### 7. append() adds new elements at the end of the list.

In [18]:
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

#### 8. remove() method removes the first occurence of the specified item.

In [19]:
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True, 99]

#### 9. List concatenation operation is performed using `+` operator and list replication is done using `*` operator.

In [21]:
lst=['cat','horse','dog']
lss=['blue','red','white']
print(lst+lss)
print(lst*3)

['cat', 'horse', 'dog', 'blue', 'red', 'white']
['cat', 'horse', 'dog', 'cat', 'horse', 'dog', 'cat', 'horse', 'dog']

#### 10. `append()` method will add an element at the end of the given list, while `insert()` method will also take an index value as it's argument in order to add an element at the given index position in the list.

In [20]:
list=['ineuron',34,False,[34,8.2]]
list.append('data')
print(list)
list.insert(3,'hi')
print(list)

['ineuron', 34, False, [34, 8.2], 'data']
['ineuron', 34, False, 'hi', [34, 8.2], 'data']

#### 11. Two methods for removing items from a list are:
` remove()` and  `pop()`

In [22]:
lst=['hi','neuron',37,6.33]
lst.remove(37)    # removes integer element 37.
print(lst)
lst.pop(1)       # removes element with index value 1.
print(lst)

['hi', 'neuron', 6.33]
['hi', 'neuron']

#### 12. Both list and string values are iterable and can be used in for loops, both indexing and slicing operations can be performed on them. They can be concatenated and replicated using `+` and `*` operators respectively.

#### 13. Difference between tuples and list are that list elements are changeable (`mutable`) while the elements of a tuple aren't (`immutable`). As a result, list has several built-in methods while tuples don't. Lists are represented using square brackets `[]`, while tuples use parentheses `()`.

#### 14. As a single value of 42 inside bracket will be treated as integer. Hence, we need to give a comma after the element to make it a tuple. (42,)

In [31]:
t1=(42)
print(type(t1))
t2=(42,)
print(type(t2))

<class 'int'>
<class 'tuple'>

#### 15. To get a list value's tuple form we use tuple() function and to obtain the vice-versa we use list() function.

In [4]:
lst=[62,'new',7.4]
tup=('old',5,86)
print(tuple(lst))
print(list(tup))

(62, 'new', 7.4)
['old', 5, 86]

#### 16. They contain list value's references.

#### 17. `copy.copy()` returns a shallow copy of the list while `copy.deepcopy()` returns a deep copy of the list.

In [11]:
import copy
l=[34,66,[77,[4,3],5.3],5]
l1=copy.copy(l)
l2=copy.deepcopy(l)
print(l1)
print(l2)

[34, 66, [77, [4, 3], 5.3], 5]
[34, 66, [77, [4, 3], 5.3], 5]